{%extends 'base.html' %}

<head>
    <meta charset="utf-8">
<!--    {% block title %}-->
<!--        <title>ID relatorio</title>-->
<!--    {% endblock %}-->
</head>
<body>
    {% block content%}
<!--        Trata as mensagens -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show align-items-center" role="alert">
                        <strong>Oh não! =(</strong> {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>


                {% endfor %}
            </ul>
        {% endif %}

<!--        <div class = "d-grid gap-2 col-6 mx-auto">-->
<!--            <div class="col-sm-6">-->
        <div class="container-xxl my-5 mx-auto">
        <div class="d-flex justify-content-center">
                <form  action="{% url 'new' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="id_text">ID da inspeção</label>
                    <input type="text" id="id_text" name="insp_idx" maxlength="9"
                           pattern="\d{4}/\d{4}" inputmode="numeric" class="inputbox_css"><br><br>
                    <div class="d-flex justify-content-lg-end mt-4">
                        <a href="/insp/cancel" class="btn btn-outline-danger btn-lg mx-2" type="button">
                            Voltar
                        </a>
                        <input class="btn btn-outline-success btn-lg" type="submit"  value="Enviar">
                    </div>

                </form>
<!--            </div>-->
        </div>
            </div>
    {% endblock %}
</body>
