{%extends 'base.html' %}

<head>
    <meta charset="utf-8">
    {% block title %}
        <title>Home</title>
    {% endblock %}
</head>
<body>
    {% block content%}
        <br>
        <br>
        <br>
        <div class = "d-grid gap-2 col-6 mx-auto">

            <a href= "/edit/"link class="btn btn-outline-info btn-lg" type="button">
                Edit inspection
            </a>
            <br>
            <a href= "/insp_id/"link class="btn btn-outline-info btn-lg">
                Start new inspection
            </a>
            <br>
            <a href="{% url 'seleciona' %}"link class="btn btn-outline-info btn-lg">
                Download data
            </a>
            <br>

        </div>


    {% endblock %}


</body>
