{%extends 'base.html' %}

<head>
    <meta charset="ISO-8859-1">
    {% block title %}
        <title>Nova Insp</title>
    {% endblock %}
</head>
<body>
    {% block content%}
    <p>Inspecao {{inspecao_id}}</p>
    <p>Seccao {{sec_id}}</p>
        <form action="{% url 'envia_dados' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <button onclick="location.href= '{% url 'add_div' %}?divs={{no_div}}&insp={{inspecao_id}}&nsec={{n_sec}}&sec_id={{sec_id}}'" type="button" formmethod="post">
                    Adiciona divisao
                </button>


            </p>
            {% for entrada in forms %}
                <p>{{ entrada }}</p>
            {% endfor %}

            <a href="/insp/cancel?insp={{inspecao_id}}">
                <button type="button">Cancelar</button>
            </a>
            <a href="/insp/add_sec?divs={{no_div}}&insp={{inspecao_id}}&nsec={{n_sec}}&sec_id={{sec_id}}">
                <button type="button">Adicionar Seccao</button>
            </a>
            <input type="submit">

        </form>

    {% endblock %}
</body>
