{%extends 'base.html' %}

<head>
    <meta charset="ISO-8859-1">
    {% block title %}
        <title>Nova Insp</title>
    {% endblock %}
</head>
<body>
    {% block content%}
        <p>Inspecao {{inspecao_id}}</p>
        <form action="{% url 'envia_dados' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <p>
                <button onclick="location.href= '{% url 'add_div' %}?divs={{no_div}}&insp={{inspecao_id}}'" type="button">
                    Adiciona divisao
                </button>
            </p>
            {% for entrada in forms %}
                <p>{{ entrada }}</p>
            {% endfor %}
            <a href="/">
                <button type="button">Cancelar</button>
            </a>
            <a href="/add_sec">
                <button type="button">Adicionar Seccao</button>
            </a>
            <input type="submit" value="Finalizar inspecao">

        </form>

    {% endblock %}
</body>
